name: Run tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v5 # using v5 since ubuntu-latest currently does not support node 24 (v6 runs on 24)
      with:
        python-version: '3.13' # 3.14 currently not found using v5 setup-python
        cache: 'pip' # caching pip dependencies
        cache-dependency-path: setup.py
    - name: Install dependencies
      run: |
        pip install -U pip
        pip install -U .[testing,docs]
    - name: Run tests
      run: python -m unittest discover
